* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    --primary-color: #f55f8d;
    --text-color-white: rgb(255 255 255);
    --text-color-black: rgb(0 0 0);
    --text-color-decoration: #8d8888;
}

html {
    font-family: Roboto, sans-serif!important;
}

body {
    color: #636363;
}

.container {
    max-width: 1199px;
    margin: auto;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
}

.rollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content--logo {}

.header__content--nav {
    padding: 50px;
}

.header__content--item {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--text-color-black);
    font-size: 15px;
    padding-right: 20px;
    font-weight: 600;
}

.header__content--item:hover .header__content--item-text {
    animation: upToDown 500ms forwards;
}

.header__content--item:hover {
    color: var(--primary-color);
}

.header__content--item:last-child {}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

.header__content--item-text {
    display: inline-block;
    transition: all 1s;
}

.header__content--item-icon {
    font-size: 10px;
    margin-top: 0px;
    vertical-align: middle;
}

.btn__primary {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 400;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 51%, var(--primary-color) 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: var(--text-color-white);
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
}

.title-1 {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-2 {
    color: var(--text-color-black);
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px;
}

.header__content--button {
    margin-left: 15px;
}

.btn__primary:hover {
    background-position: right center;
}


/* saCarousel */


/* saCarousel */

.saCarousel {
    padding-top: 175px;
    background-image: url(../image/pic2.png);
    background-size: 100%;
    background-position: top;
}

.saCarousel__content {
    display: flex;
    align-items: center;
}

.saCarousel__left {
    width: 60%;
}

.saCarousel__article--title {
    font-size: 18px;
    max-width: 80%;
    margin-bottom: 20px;
}

.saCarousel__article--icon {
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    color: var(--text-color-white);
    margin-right: 10px;
    font-size: 20px;
}

.saCarousel__article--list-item {
    list-style: none;
    line-height: 50px;
}

.saCarousel__article--btn {
    margin-top: 20px;
}

.saCarousel__right {
    width: 40%;
}

.saCarousel__right--img {
    max-width: 100%;
    padding-left: 20px;
}


/* services */


/* services */

.services {
    background-image: url(../image/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.services__title {
    padding-top: 100px;
}

.services__content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 40px;
    background-color: transparent;
    padding-top: 20px;
}

.services__content--item {
    background-color: var(--text-color-white);
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transition: all 0.5s;
}

.services__content--item:hover {
    transform: translateY(-15px);
}

.services__content--item-img {
    width: 200px;
}

.services__content--item-text {
    color: var(--text-color-black);
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.services__content--item-description {
    line-height: 25px;
}


/* aboutUs
 */


/* aboutUs */

#aboutUs {
    background-image: url(../image/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.aboutUs__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 200px;
}

.aboutUs__content--left {
    width: 50%;
    position: relative;
}

.aboutUs__content--left-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.aboutUs__content--right {
    width: 50%;
    margin-top: -100px;
}

.aboutUs__content--right-description {
    line-height: 25px;
}

.aboutUs__content--right-list {
    list-style: none;
    margin: 15px 0;
}

.aboutUs__content--right-item {
    line-height: 40px;
    display: flex;
    align-items: center;
}

.aboutUs__content--right-icon {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 20px;
}


/* number */


/* number */

.number {
    background-image: url(../image/bg14.png);
    background-size: 100%;
    background-position: center;
    ;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.counter {
    font-variant-numeric: tabular-nums;
}

.number__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0px;
}

.number__content--item {
    text-align: center;
}

.number__content--icon {
    padding: 15px;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    border-radius: 50%;
    font-size: 40px;
    color: var(--text-color-white);
    margin-bottom: 10px;
}

.number__content--number {
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 900;
}


/* features */


/* features */

.features {
    background-image: url(../image/bg2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.features__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.features__content--left {
    width: 50%;
}

.features__content--group {
    max-width: 95%;
}

.features__content--group-item {
    background-color: var(--text-color-white);
    margin: 0 40px 30px 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
}

.features__content--group-item:hover .features__content--bg::after {
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    opacity: 1;
    transition: all 2s;
}

.features__content--group-item:hover .features__content--bg-icon,
.features__content--group-item:hover .features__content--bg-text,
.features__content--group-item:hover .features__content--bg-description {
    color: white;
}


/* .features__content--group-item:hover .features__content--bg-text {
    color: white;
} */


/* .features__content--group-item:hover .features__content--bg-description {
    color: white;
} */

.features__content--group-item:nth-of-type(2) {
    margin: 0 0 30px 40px;
}

.animate__fadeInRight {}

.features__content--bg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-radius: 20px;
    transition: all 5s;
}

.features__content--bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* .features__content--bg::after:hover {
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 2s;
} */

.features__content--bg-children {
    z-index: 3;
}

.features__content--bg-icon {
    font-size: 75px;
    padding: 20px 20px 20px 30px;
    color: var(--primary-color);
    transition: color 1s;
    z-index: 3;
}

.features__content--bg-text {
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    color: #000;
    transition: color 1s;
}

.features__content--bg-description {
    max-width: 90%;
    line-height: 25px;
    transition: color 1s;
}

.flaticon-coding {}

.flaticon-rocket {}

.features__content--right {
    width: 50%;
    z-index: 4;
    animation: move2 4000ms infinite;
}

.features__content--right-banner {
    width: 100%;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px);
    }
}

.portfolio {
    background-image: url(../image/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.portfolio__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio__item::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -150%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}

.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    /* grid-template-columns: 2.1fr 1.5fr; */
    gap: 35px;
}

.portfolio__item1 {
    grid-column: 1/span 2;
}

.portfolio__item5 {
    grid-column: 1/span 2;
}

.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__item--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    opacity: 0;
    transition: all .75s;
}

.portfolio__overlay--icon {
    position: absolute;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    color: var(--text-color-white);
    top: 0;
    right: 0;
    transform: translate(50px, -50px);
    transition: all 500ms;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__overlay--text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 500ms;
}

.portfolio__overlay--text-1 {
    font-size: 20px;
    color: var(--text-color-white);
    margin-bottom: 10px;
}

.portfolio__item:hover .portfolio__overlay--icon {
    transform: translate(-20px, 20px);
}

.portfolio__item:hover .portfolio__overlay--text {
    transform: translateY(-5px);
}

.portfolio__overlay--text-2 {
    color: #faebeb;
}


/* plan
     */


/* plan */

.plan {
    background-image: url(../image/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
}

.plan__title {}

.plan__content {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.plan__content--item {
    background-color: var(--text-color-white);
    padding: 35px 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all .5s;
}

.plan__content--item:hover {
    border-image: url(../image/br.png) 1 round;
}

.plan__content--item-title {
    color: var(--text-color-black);
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 20px;
}

.plan__content--item-img {
    width: 150px;
}

.plan__content--item-money {
    color: #f8ae56;
    font-size: 45px;
    font-weight: 800;
    margin-top: 10px;
}

.plan__content--item p {
    font-weight: bold;
    color: var(--text-color-black);
    border-bottom: 1px rgba(128, 128, 128, 0.437) solid;
    padding-bottom: 20px;
}

.plan__content--list {
    width: 100%;
    list-style: none;
    text-align: left;
    line-height: 35px;
    border-radius: 10px solid;
}

.plan__content--list:first-child {
    padding-top: 20px;
}

.plan__content--list:last-child {
    padding-bottom: 20px;
}

.plan__content--list-icon {
    color: var(--primary-color);
    border-radius: 50%;
    background-color: #feeff3;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    margin-right: 15px;
}

.plan__content--list::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px style;
}


/* testimonial */

.testimonial {
    text-align: center;
    background-image: url(../image/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.cha {
    padding-bottom: 30px;
}

.testimonial__title {
    text-align: center;
}

.cha .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.cha .swiper {
    width: 150%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cha .swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    padding: 20px 0;
}

.cha .mySwiper2 {
    height: 80%;
    width: 100%;
}

.cha .mySwiper1-test {
    width: 30%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.cha.mySwiper1-test .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.cha .mySwiper1-test .swiper-slide-thumb-active {
    opacity: 1;
}

.testimonial__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 0;
    background-color: var(--text-color-white);
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-slide {}

.flaticon-quotation {
    transform: rotate(180deg);
    font-size: 70px;
    position: absolute;
    left: 30px;
    top: 20px;
    color: var(--primary-color);
}

.testimonial__picthumb {
    width: 200px;
    box-sizing: border-box;
    height: 165px;
    position: relative;
    overflow: hidden;
}

.testimonial__picthumb::after,
.testimonial__picthumb::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.arrow {
    position: relative;
    height: 30px;
    width: 40px;
    left: 0px;
    transform: translateX(88%);
    bottom: 11px;
    opacity: 0;
    transition: all 1s;
    background-color: var(--primary-color);
}

.arrow {
    opacity: 0;
}

.arrow::before {
    content: "";
    position: absolute;
    left: 0px;
    background-image: url(https://cybersamar.vercel.app/img/pattern12.png);
    background-position: bottom;
    height: 100%;
    width: 100%;
}

.testimonial__pic::after {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position: absolute;
}

.testimonial__pic::before {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
}

.testimonial__pic::before {
    height: 14px;
    width: 14px;
    bottom: 30px;
    opacity: 0
}

.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 10px;
    opacity: 0
}

.swiper-slide-thumb-active .arrow {
    opacity: 1;
}

.swiper-slide-thumb-active .testimonial__pic::after {
    opacity: 1;
}

.swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}

.testimonial__position {
    color: var(--primary-color);
    padding: 10px 0 30px 0;
    font-style: italic;
}

.testimonial__description {
    padding: 0 50px;
    line-height: 30px;
    font-style: italic;
}

.testimonial__pic {
    padding-top: 50px;
}

.swiper-slide-thumb-active .testimonial__pic {
    padding-top: 10px;
    transition: all 0.5s;
}

.testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: var(--primary-color);
}

.testimonial__name {
    color: var(--text-color-black);
    font-weight: bold;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #f55f8d;
}


/* blog  */


/* blog  */

.blog {
    background-image: url(../image/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 100px 0 50px 0;
}

.blog__title {
    text-align: center;
}

.blog__content {}

.blog__content--item {
    text-align: left;
    background: rgba(245, 95, 141, .1);
    border-radius: 8px;
}

.blog__content--header {
    position: relative;
}

.blog__content--header-img {
    width: 100%;
    border-radius: 10px;
}

.blog__content--time {
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 100%);
    background-size: 100%;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--text-color-white);
    position: absolute;
    bottom: -15px;
    left: 15px;
}

.blog__content--body {
    padding: 30px 15px 20px 15px;
    line-height: 35px;
    margin-bottom: 20px;
}

.blog__content--body-title {
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color-black);
}

.blog__content--body-text {}

.blog__content--footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.blog__content--footer-left {
    padding-right: 20px;
}

.blog__content--footer-left span {
    color: var(--primary-color);
}

.blog__content--footer-icon {
    font-size: 22px;
    color: var(--primary-color);
    vertical-align: sub;
}

.las {}

.la-user-circle {}

.blog__content--footer-right {}

.la-comment {}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

footer {
    background-image: url(../image/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: var(--text-color-white);
    font-size: 15px;
    position: relative;
    z-index: 1;
    /* background-attachment: fixed; */
}

footer::after {
    content: "";
    background-image: url(../image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer__top {
    padding: 60px;
    background-color: var(--text-color-white);
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    background-image: url(../image/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    z-index: 1;
}

.footer__text {
    font-size: 28px;
    color: var(--text-color-black);
    font-weight: bold;
    width: 50%;
}

.footer__form {
    width: 50%;
}

.footer__form--children {
    /* display: flex; */
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, .1);
}

.footer__form--input {
    /* width: 80%; */
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: var(--text-color-white);
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--text-color-white);
    flex: auto;
    /* transition: all .5s; */
    outline: none;
}

.footer__form--input[type=text]:focus {
    border: 1px solid var(--primary-color);
}

.footer__form--btn {
    /* width: 20%; */
    padding: 20px 35px;
    font-size: 20px;
    border-color: transparent;
    border-radius: 0 10px 10px 0;
    color: var(--text-color-white);
    cursor: pointer;
}

.footer__form--btn:hover i {
    animation: toLeftFromRight 700ms alternate-reverse;
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.footer__form--icon {
    /* transform: rotate(45deg); */
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    z-index: 1;
    padding-bottom: 50px;
}

.footer__bottom--item {}

.footer__bottom--list-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.footer__bottom--logo {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 15px;
}

.footer__bottom--list {}

.footer__bottom--icon {
    color: var(--text-color-white);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 51%, var(--primary-color) 100%);
    background-size: 100%;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 10px;
}

.footer__bottom--text {
    font-size: 15px;
    line-height: 1.5;
}

.footer__bottom--item-title {
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: bold;
}

.footer__bottom--item-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 51%, var(--primary-color) 100%);
    background-size: 200%;
}

.footer__bottom--item-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--primary-color) 0, #f8ae56 51%, var(--primary-color) 100%);
    background-size: 200%;
}

.footer__bottom--item-tag {
    list-style: none;
    padding-bottom: 20px;
}

.footer__bottom--item-tag a {
    color: #636363;
    text-decoration: none;
}

.footer__bottom--item-tag a i {
    padding-right: 10px;
}

.footer__bottom--item-tag a:hover {
    color: var(--text-color-white);
    transition: all 500ms;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.container {}

.footer__content {
    display: flex;
    justify-content: space-between
}

.footer__left span {
    color: var(--primary-color);
}

.footer__left {
    line-height: 35px;
}

.footer__right {}

.footer__right--icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    background-color: rgba(255, 255, 255, .1);
    text-decoration: none;
    border-radius: 50%;
    color: var(--text-color-white);
}

.footer__right--icon:hover {
    background-color: var(--primary-color);
    transition: all 1s;
}

.footer__right--icon i {
    align-items: center;
}

.fa-brands {}

.fa-facebook-f {}

.fa-instagram {}

.fa-twitter {}